@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
    <style>
        @@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

        body {
            background: #456;
            font-family: 'Open Sans', sans-serif;
        }

        .login {
            width: 400px;
            margin: 16px auto;
            font-size: 16px;
        }

            /* Reset top and bottom margins from certain elements */
            .login-header,
            .login p {
                margin-top: 0;
                margin-bottom: 0;
            }

        /* The triangle form is achieved by a CSS hack */
        .login-triangle {
            width: 0;
            margin-right: auto;
            margin-left: auto;
            border: 12px solid transparent;
            border-bottom-color: #28d;
        }

        .login-header {
            background: #28d;
            padding: 20px;
            font-size: 1.4em;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
        }

        .login-container {
            background: #ebebeb;
            padding: 12px;
        }

        /* Every row inside .login-container is defined with p tags */
        .login p {
            padding: 12px;
        }

        .login input {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border-width: 1px;
            border-style: solid;
            padding: 16px;
            outline: 0;
            font-family: inherit;
            font-size: 0.95em;
        }

            .login input[type="email"],
            .login input[type="password"] {
                background: #fff;
                border-color: #bbb;
                color: #555;
            }

                /* Text fields' focus effect */
                .login input[type="email"]:focus,
                .login input[type="password"]:focus {
                    border-color: #888;
                }

            .login input[type="submit"] {
                background: #28d;
                border-color: transparent;
                color: #fff;
                cursor: pointer;
            }

                .login input[type="submit"]:hover {
                    background: #17c;
                }

                /* Buttons' focus effect */
                .login input[type="submit"]:focus {
                    border-color: #05a;
                }
    </style>
</head>
<body>
    <div class="login">
        <div class="login-triangle"></div>

        <h2 class="login-header">Register</h2>

        <form class="login-container" method="post" action="~/TMDT/Register" style="text-align:center">
            <p><input type="text" placeholder="Last Name" name="ho" required></p>
            <p><input type="text" placeholder="Name" name="ten" required></p>
            <p><input type="text" placeholder="Adress " name="diachi" required></p>
            <p><input type="text" placeholder="Telephone" name="sdt" required></p>
            <p><input type="email" placeholder="Email" name="email" required></p>
            <p><input type="password" placeholder="Password" name="matkhau" required></p>
            <p><input type="password" placeholder="Confirm Password " name="nhaplaimatkhau" required></p>
            <p><input type="submit" value="Register"></p>
            <a href="~/Home/Index" style="display:inline-block;text-decoration:none;font-weight:bold">Home</a>
            <br />
            <a href="~/User/Login" style="display:inline-block;text-decoration:none;font-weight:bold;margin-top:8px">Already have an account?</a>
        </form>
    </div>
</body>
</html>
